.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background: rgb(179,217,201);
  background: linear-gradient(150deg, rgba(179,217,201,1) 0%, rgba(82,147,126,1) 100%);
  min-height: 100vh;
  color: white;
}
